[Unit]
Description=RFS Yate BTS
After=network.target
StartLimitIntervalSec=0[Service]

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/local/bin/yate -s

[Install]
WantedBy=multi-user.target
